.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.board-row {
  flex-direction: row;
  flex: 1;
}

.row-up {
  display: flex;
  flex: 1;
}

.init {
  align-self: flex-start;
}

.main-options {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 10px;
}

.link {
  margin: 5px;
}

.is-active {
  font-style: italic;
  font-weight: bold;
  color: blue;
}